@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body.menu--open {
  overflow: hidden;
  height: 100vh;
  overscroll-behavior: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight-color {
  color: #6415ff;
}

::placeholder {
  opacity: 50%;
}

#landing {
  padding: 0 32px;
  margin-bottom: 80px;
  height: 100%;
}

p {
  line-height: 1.5;
}

.container {
  padding: 80px 0;
}

/* 

NAVIGATION BAR 

*/

.nav__container {
  padding: 40px 0;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo--pair {
  display: flex;
}

.nav__logo--title {
  color: #243e63;
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  margin-bottom: 4px;
  align-content: center;
  cursor: default;
}

.logo__img--wrapper {
  max-width: 40px;
  height: auto;
}

.logo__img {
  width: 100%;
}

.nav__list {
  display: flex;
  list-style-type: none;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  margin: 0 36px;
  align-content: center;
  position: relative;
}

.nav__link--anchor {
  color: #243e63;
  text-decoration: none;
  cursor: pointer;
}

.nav__link--underline {
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #6415ff;
  bottom: -8px;
  opacity: 0;
  transition: all 300ms ease;
}

.nav__link--underline-2 {
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #6415ff;
  bottom: 2px;
  opacity: 0;
  transition: all 300ms ease;
}

.nav__members {
  display: flex;
  list-style-type: none;
}

.nav__link--login {
  margin-left: 24px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-content: center;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

.nav__link--anchor:hover ~ .nav__link--underline,
.nav__link--anchor:hover ~ .nav__link--underline-2 {
  opacity: 1;
}

.nav__link--primary {
  color: #fff;
}

.nav__members .nav__link {
  margin-right: 0;
}

.nav__button--sign-up {
  border: none;
  padding: 10px 32px;
  font-weight: 600;
  background-color: #6415ff;
  border-radius: 24px;
  line-height: 1.5;
  transition: all 300ms ease;
}

.nav__button--sign-up:hover {
  background-color: #4e11c8;
}

.not-working {
  cursor: not-allowed !important;
}

.button__menu {
  background-color: transparent;
  border: none;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.button__menu:hover {
  transform: translateY(-1px);
}

.menu__backdrop {
  position: fixed;
  inset: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(36, 62, 99, 0.35);
  cursor: default;
}

.menu__panel {
  position: absolute;
  background-color: #f7fafc;
  border: 1px solid lightgray;
  border-radius: 8px;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.menu--open .menu__backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu--open .menu__panel {
  animation: slideIn 1s;
}

.button__menu--close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.menu__list {
  list-style-type: none;
  margin-bottom: 24px;
  font-weight: 600;
}

.menu__list:nth-child(5) {
  margin-bottom: 40px;
}

.menu__list--link {
  text-decoration: none;
}

.menu__links {
  text-align: center;
}

.menu__link--primary {
  padding: 16px 34px;
  background-color: #6415ff;
  color: #f7fafc;
  border-radius: 40px;
  margin-top: 16px;
}

/* 

HEADER 

*/

header .container {
  height: calc(100vh - 124px);
  display: flex;
  align-items: center;
}

.header__row {
  justify-content: space-between;
}

.header__side--left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 48px;
}

.header__title {
  font-size: 36px;
  color: #1a202c;
  line-height: 1.25;
}

.header__description {
  margin: 32px 0;
}

.header__button {
  background-color: #6415ff;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding: 14px 22px;
  border-radius: 24px;
  width: 135px;
  position: absolute;
  top: 8px;
  left: 255px;
  z-index: 1;
}

.header__button:hover {
  background-color: #4e11c8;
}

.header__customers {
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 64px;
}

.header__illustration--wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__img {
  margin-top: 16px;
  width: 100%;
  opacity: 50%;
  padding-right: 64px;
}

.header__illustration--img {
  width: 100%;
  max-width: 625px;
}

.header__email--submission {
  position: relative;
  display: flex;
  width: 100%;
}

.header__email--input {
  width: 400px;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 192px 20px 32px;
  border: 2px solid rgb(229, 231, 235);
  border-radius: 50px;
  position: relative;
  z-index: 0;
  max-width: 400px;
}

.header__email--input:focus {
  outline: none;
  border-color: #6415ff;
}

.header__email--input:focus::placeholder {
  opacity: 0;
}

/* 

FEATURES 

*/

.features__row {
  flex-direction: column;
  padding: 0 32px;
}

.feature__description {
  display: flex;
  flex-direction: column;
}

.feature__title {
  color: #243e63;
  font-size: 24px;
}

.feature__para {
  color: #7c8ba1;
  margin-top: 16px;
  line-height: 2;
  font-weight: 500;
}

.feature__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 32px;
}

.feature {
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  width: calc(100% / 3);
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  margin-right: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  height: 64px;
}

.section__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  color: #6415ff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section__subtitle {
  font-size: 48px;
  font-weight: 900;
  margin: 20px 0;
}

.section__text {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  max-width: 500px;
  text-align: center;
}

/* 

QUALITY WORK SECTION

*/

#quality-work .section__text {
  text-align: left;
}

.quality-work__row {
  display: flex;
  padding: 0 32px;
}

.quality-work__description {
  width: 50%;
  margin-right: 64px;
}

.quality-work__img--wrapper {
  margin: 0 56px;
  width: 50%;
}

.quality-work__img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.quality-work__button {
  margin-top: 32px;
  background-color: #6415ff;
  padding: 12px 32px;
  font-size: 14px;
  border-radius: 24px;
  border: none;
  color: #fff;
  font-weight: bold;
}

.quality-work__button:hover {
  background-color: #4e11c8;
}

/* 

STEPS 

*/

#steps .row {
  align-items: center;
  padding: 0 32px;
}

.list__step {
  display: flex;
}

.list__step--number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
}

.step__description {
  margin-left: 24px;
}

.steps__illustration--wrapper {
  width: 50%;
}

.steps__side--right {
  width: 50%;
  padding: 32px 0 32px 64px;
}

.steps__illustration {
  width: 100%;
}

.step__title {
  font-size: 20px;
  font-weight: 600;
}

.list__step--para {
  color: #718096;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  margin-top: 12px;
  margin-bottom: 24px;
}

.steps__list {
  margin-top: 40px;
  max-width: 400px;
}

/* 

VALUES 

*/

#values .section__text {
  text-align: left;
}

.values__row {
  padding: 0 32px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.values__side--left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 32px;
}

.values__illustration--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.values__illustration {
  width: 100%;
}

.section__para {
  padding-top: 8px;
  padding-bottom: 16px;
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
}

.value__header {
  display: flex;
  margin: 16px 0;
  align-items: center;
}

.values__list {
  display: flex;
  margin-bottom: 32px;
}

.list__value {
  width: 50%;
  margin-right: 32px;
}

.value__para {
  font-size: 16px;
  color: #718096;
}

.value__title {
  margin-left: 8px;
}

.value__icon--wrapper {
  border-radius: 50%;
  padding: 8px;
  background-color: #9ae6b4;
}

.list__value:nth-child(2) .value__icon--wrapper {
  background-color: #feb2b2;
}

#values .quality-work__button {
  margin-top: 0;
  width: 175px;
}

/* 

PRICING 

*/

.pricing__row {
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
}

.pricing__list {
  display: flex;
  width: 100%;
}

.pricing__list--plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 16px 0;
  position: relative;
}

.pricing__list--plan:nth-child(2) {
  margin: 0 24px;
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.pricing__list--plan:nth-child(2) .plan__title,
.pricing__list--plan:nth-child(2) .plan__price,
.pricing__list--plan:nth-child(2) .plan__period,
.pricing__list--plan:nth-child(2) .plan__target-audience,
.pricing__list--plan:nth-child(2) .plan__highlight {
  color: #f7fafc;
}

.pricing__para {
  max-width: 600px;
  text-align: center;
  margin-bottom: 32px;
}

.list__plan--top-half {
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  margin: 24px 0;
}

.plan__title,
.plan__price {
  color: #1a202c;
}

.plan__title {
  font-size: 20px;
  text-transform: uppercase;
}

.plan__price {
  font-size: 48px;
}

.plan__period {
  font-size: 16px;
  margin-top: 8px;
  text-transform: uppercase;
  color: #a0aec0;
  letter-spacing: 0.075em;
}

.list__plan--bottom-half {
  text-align: center;
}

.plan__highlights {
  list-style: none;
  line-height: 3;
  font-size: 16px;
  font-weight: 500;
}

.plan__highlight {
  color: #718096;
}

.pricing__line--break {
  border-top: 2px solid lightgray;
  opacity: 75%;
  width: 100%;
  margin: 16px 0;
}

.pricing__list--plan:nth-child(2) .pricing__line--break {
  opacity: 20%;
}

.plan__target-audience {
  font-size: 20px;
  font-weight: 700;
  margin: 16px;
}

.plan__button {
  color: #f7fafc;
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  padding: 16px 0;
  width: 80%;
  margin: 16px 0;
  font-weight: bold;
  transition: all 300ms ease;
}

.plan__button:hover {
  transform: translate(1px, -1px);
  box-shadow: -3px 5px 20px #1a202c3d;
}

.plan__stripe {
  position: absolute;
  height: 8px;
  width: 100%;
  top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pricing__list--plan:nth-child(1) .plan__stripe {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.pricing__list--plan:nth-child(1) .plan__button {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.pricing__list--plan:nth-child(2) .plan__stripe {
  opacity: 0;
}

.pricing__list--plan:nth-child(2) .plan__button {
  color: #6415ff;
}

.pricing__list--plan:nth-child(3) .plan__stripe {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.pricing__list--plan:nth-child(3) .plan__button {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* 

TESTIMONIALS 

*/

#testimonials .row {
  padding: 0 32px;
}

.testimonial__bottom {
  display: flex;
  margin-top: 40px;
}

.testimonials__illustration {
  width: 100%;
}

.testimonials__illustration--wrapper {
  width: 40%;
}

.testimonials__side--right {
  width: 60%;
  padding-left: 64px;
}

.testimonial__rating {
  margin: 20px 0;
}

.testimonial__title {
  color: #4a5568;
  font-weight: 700;
  margin-bottom: 20px;
}

.testimonial__para {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(74 85 104);
}

.testimonial__rating--star {
  color: rgba(246, 173, 85);
}

.testimonial__img--wrapper {
  width: 15%;
  margin-right: 24px;
}

.testimonial__img {
  width: 100%;
  border-radius: 50%;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__buttons {
  display: flex;
}

.testimonial__button {
  padding: 15px;
  border-radius: 50%;
  border: none;
  margin: auto 12px;
  background-color: #edf2f7;
  transition: all 300ms ease;
}

.testimonial__button:hover {
  background-color: #dee2e7;
}

.testimonial__button--icon {
  color: #6415ff;
  width: 100%;
}

.testimonial__profile--name {
  color: #4a5568;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.testimonial__profile--title {
  color: #7c8ba1;
  font-weight: 500;
}

/* 

GET STARTED 

*/

#get-started {
  padding: 0 32px;
}

.get-started__container {
  padding: 96px 0;
  margin-bottom: 88px;
  width: 100%;
  background-color: rgb(100, 21, 255);
  border-radius: 8px;
}

.get-started__row {
  display: flex;
  justify-content: center;
  padding: 0 92px;
}

.get-started__title {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  width: 50%;
  flex-wrap: wrap;
}

.get-started__button {
  color: #f7fafc;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 30px;
  margin: auto 16px;
}

.get-started__buttons {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.get-started__button:first-child {
  background-color: #f56565;
  border: none;
  transition: all 300ms ease;
}

.get-started__button:first-child:hover {
  background-color: #de3737;
}

.get-started__button:last-child {
  background-color: transparent;
  border: 1px solid rgb(160, 174, 192);
}

.button__effect--invert {
  transition: all 300ms ease;
}

.button__effect--invert:hover {
  background-color: #f7fafc;
  color: #6415ff;
}

/* 

FOOTER 

*/

.footer__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  background-color: #6415ff;
}

.footer__columns {
  margin: 72px 0;
  width: 95%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column--title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #f7fafc;
  margin-bottom: 16px;
}

.footer__column--link {
  margin: 8px 0;
  position: relative;
  width: fit-content;
}

.footer__column--anchor {
  text-decoration: none;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  color: #f7fafc;
  cursor: pointer;
}

.footer__link--underline {
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #f7fafc;
  bottom: -6px;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__column--anchor:hover ~ .footer__link--underline {
  opacity: 1;
}

.footer__break {
  width: 95%;
  opacity: 25%;
}

.footer__bottom {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 72px 0;
}

.footer__branding {
  display: flex;
  align-items: center;
}

.footer__copyright {
  color: #f7fafc;
}

.footer__logo--text {
  font-size: 20px;
  font-weight: 900;
  margin-left: 8px;
  color: #f7fafc;
}

.footer__logo {
  width: 32px;
  height: 32px;
}

.footer__social-media {
  display: flex;
}

.footer__icon--wrapper {
  padding: 8px 8px;
  background-color: #f7fafc;
  border-radius: 50%;
  margin-left: 16px;
  transition: all 300ms ease;
  cursor: pointer;
}

.footer__icon--wrapper:hover {
  background-color: #d4d9dc;
}

@media (max-width: 1024px) {
  .get-started__container {
    padding: 48px 0;
  }

  #landing {
    margin-bottom: 0;
  }

  .plan__price {
    font-size: 36px;
  }

  .plan__title {
    font-size: 16px;
  }

  .quality-work__img--wrapper {
    margin: 0;
  }

  .section__subtitle {
    font-size: 36px;
  }

  .button__menu {
    display: inline;
  }

  html {
    overflow-x: hidden;
  }

  .header__row {
    flex-direction: column;
  }

  .header__side--left {
    width: 500px;
    padding-right: 0;
  }

  header .container {
    height: 100%;
  }

  .header__title {
    font-size: 28px;
  }

  .header__title,
  .header__description,
  .header__customers {
    text-align: center;
  }

  .header__email--input {
    margin: 0 auto;
  }

  .header__img {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 40px;
    padding: 0 2rem;
  }

  .header__button {
    font-size: 14px;
    width: 130px;
    left: 311px;
    top: 10px;
  }

  .nav__list,
  .nav__members {
    display: none;
  }

  .feature {
    width: 50%;
  }

  .list__step--para {
    max-width: 200px;
  }

  .get-started__row {
    flex-direction: column;
    align-items: center;
  }

  .get-started__title {
    width: 75%;
    text-align: center;
    margin-bottom: 24px;
  }

  .get-started__button {
    font-size: 14px;
    font-weight: 500;
  }

  .get-started__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .testimonial__img--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 844px) {
  .plan__target-audience {
    max-width: 125px;
  }
}

@media (max-width: 768px) {
  .feature {
    width: auto;
    max-width: 350px;
    margin: 0 auto;
  }

  #values .section__text {
    text-align: center;
  }

  .quality-work__row {
    flex-direction: column-reverse;
    gap: 4rem;
  }

  .quality-work__img--wrapper {
    width: 75%;
  }

  .quality-work__description {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    align-items: center;
    text-align: center;
  }

  #quality-work .section__text {
    text-align: center;
  }

  #steps .row {
    flex-direction: column;
  }

  .steps__illustration--wrapper {
    width: 75%;
  }

  .steps__side--right {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__subtitle {
    text-align: center;
    font-size: 28px;
  }

  .values__row {
    flex-direction: column-reverse;
  }

  .values__illustration--wrapper {
    margin-bottom: 40px;
    width: 75%;
  }

  .values__list {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .list__value {
    width: 75%;
    margin-right: 0;
  }

  .values__side--left {
    margin-right: 0;
    align-items: center;
    text-align: center;
  }

  .value__header {
    justify-content: center;
  }

  .section__text {
    font-size: 16px;
    max-width: 450px;
  }

  .pricing__list {
    flex-direction: column;
    align-items: center;
  }

  .pricing__list--plan {
    margin-bottom: 40px;
    width: 60%;
  }

  .pricing__list--plan:nth-child(2) {
    margin-bottom: 40px;
  }

  #testimonials .row {
    flex-direction: column;
  }

  .testimonials__illustration--wrapper {
    margin-bottom: 40px;
    width: 75%;
  }

  .testimonials__side--right {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .testimonial__img--wrapper {
    width: 25%;
  }

  .get-started__title {
    width: 100%;
  }

  .footer__column {
    width: calc(100% / 3);
    margin-top: 48px;
    align-items: center;
  }

  .footer__columns {
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  .get-started__button {
    padding: 14px 20px;
  }

  .get-started__title {
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  .header__email--submission {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .header__email--input {
    width: 100%;
    padding: 16px;
    text-align: center;
  }

  .header__email--input::placeholder {
    text-align: center;
    font-size: 14px;
  }

  .header__button {
    width: 50%;
    position: relative;
    left: auto;
    font-weight: 500;
    padding: 14px 16px;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__copyright {
    padding: 34px;
  }

  .pricing__list--plan {
    width: 80%;
  }

  .values__side--left {
    width: 80%;
  }

  .steps__side--right {
    width: 80%;
  }

  .quality-work__description {
    width: 80%;
  }

  .header__side--left {
    width: 100%;
  }

  .get-started__title {
    font-size: 18px;
  }

  .get-started__row {
    padding: 0 16px;
  }

  .testimonial__bottom {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__profile {
    justify-content: center;
    margin-bottom: 24px;
  }
}

@media (max-width: 480px) {
  .pricing__list--plan {
    width: 100%;
  }

  .get-started__button {
    padding: 12px;
  }

  .testimonials__side--right {
    width: 100%;
  }

  .header__customers,
  .header__img {
    display: none;
  }
  .header__row {
    gap: 4rem;
  }
  .header__illustration--wrapper {
    width: 100%;
  }
  .list__step {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .step__description {
    margin-left: 0;
  }
  .feature {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .feature__img--wrapper {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .get-started__buttons{
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}